.video-item {
  display: flex !important;
  align-items: center !important;
  align-content: center !important;
  cursor: pointer;
}

.video-item.item img {
  max-width: 120px;
  max-height: 100px;
}
.content {
  font-weight: bolder;
}
